streamlit==1.58.0

langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma

sentence-transformers
transformers
torch
torchvision

chromadb
protobuf==3.20.3

huggingface_hub
pypdf
beautifulsoup4
lxml
requests
pandas
